* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
  background-color: #e2e8f0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1.5fr 4fr;
  row-gap: 4px;
}

.header {
  display: grid;
  background-color: #ffffff;
  grid-column: 2 / 4;
  box-shadow: 0px 0px 4px rgb(104, 104, 104);
  z-index: -1;
  grid-template-columns: 2fr 1fr;
}

.top-header {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.top-left {
  margin-left: 40px;
}

#search {
  width: 85%;
  height: 30px;
  border: none;
  background-color: #e2e8f0;
  border-radius: 20px;
  margin-left: 8px;
}

.icon {
  vertical-align: middle;
}

.top-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
}

.profile-pic-small {
  border-radius: 100px;
  width: 40px;
  height: 40px;
}

.profile-pic-big {
  border-radius: 100px;
  width: 60px;
  height: 60px;
}

.bottom-header {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.bottom-left {
  grid-row: 2;
  grid-column: 1;
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-left: 40px;
}

.bottom-right {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  align-content: center;
  justify-content: space-around;
  gap: 18px;
}

.bottom-right button {
  background-color: #1992d4;
  border: none;
  color: #ffffff;
  font-weight: bold;
  font-family: sans-serif;
  border-radius: 15px;
  padding: 8px 16px;
}

.sidebar {
  text-align: center;
  background-color: #1992d4;
  grid-row: 1 / 4;
  color: white;
}

a {
  color: white;
  text-decoration: none;
  display: flex;
  gap: 8px;
  margin: 20px 20px;
}

.divider {
  margin: 80px 0;
}

.logo {
  display: flex;
  gap: 8px;
  padding-left: 8px;
  margin-top: 20px;
}

.main {
  background-color: #e2e8f0;
  grid-column: 2 / 3;
  grid-row: 2/4;
}
